<%= form_for(@partida) do |f| %>
  <% if @partida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partida.errors.count, "error") %> prohibited this partida from being saved:</h2>

      <ul>
      <% @partida.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :diametro %><br>
    <%= f.text_field :diametro %>
  </div>
  <div class="field">
    <%= f.label :parteobra %><br>
    <%= f.text_field :parteobra %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
